<main>
    <!-- <mat-slider step="4" tickInterval="3"></mat-slider> -->
        <div class="flex">
            <img (click)="openDialog()" src="../assets/images/walk.png" alt="walk" title="Walk">
            <img (click)="openDialog()" src="../assets/images/dexterity.png" alt="dexterity" title="Dexterity">
        </div>
        <div class="flex">
            <img (click)="openDialog()" src="../assets/images/cognition.png" alt="cognition" title="Cognition">
            <img (click)="openDialog()" src="../assets/images/vision.png" alt="vision" title="Vision">
        </div>
    
</main>