app-header{
  width: 100%;
}

app-footer{
  background-color: #4C4A7A;
  width: 100%;
  position: fixed;
  height: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 20px;
}

.flex{
  flex-direction: column;
  background: #0C0C18;
  background: -webkit-linear-gradient(top, #0C0C18, #43426D);
  background: -moz-linear-gradient(top, #0C0C18, #43426D);
  background: linear-gradient(to bottom, #0C0C18, #43426D);
  margin: 0; 
  font-family: 'Montserrat', sans-serif; 
}


 