/* .modal{
    width: 800px;
} */

.mat-table {
    width: 100%;
}

/* #retour{
    background-color: #000;
    width: 100px;
    display: block;
} */

mat-icon{
    font-size: 2rem;
    display: block;
    font-weight: 900;
    color: #000;
    padding: 30px;
}

.btn-save{
   background-color: rgb(87, 52, 247);
   color: #fff;
   font-family: 'Montserrat bold';
   padding: 20px;
   font-size: 1.5rem;
   width: 200px;
   text-transform: uppercase;
}